html {
  height: 100%;
}

body {
  font-family: Comfortaa, Helvetica, sans-serif;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: #fff;
}

input,
button {
  font-family: Comfortaa, Helvetica, sans-serif;
}

*:focus {
  outline: none;
  border: 1px solid rgb(255, 217, 0);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.section {
  padding: 3rem;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 1rem;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 20px;
}

.rc-checkbox {
  margin-right: 10px;
}

pre {
  max-height: 650px;
}

.add-another {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
}

.delete-btn {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.code-area {
  position: relative;
}

.code-area button {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 0.3s;
}

.code-area button:hover {
  background: yellow;
}
