*:focus {
  outline: none;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 1rem;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 20px;
}

.rc-checkbox {
  margin-right: 10px;
}
